<!--
     //ANOTAÇÕES\\
    ngOnChanges():esponda quando o Angular definir ou redefinir as propriedades de entrada vinculadas a dados.
    ngOnInit(): Detecte e atue sobre alterações que o Angular não pode ou não detectará por conta própria.
    ngAfterContentInit():Responder após o Angular projetar conteúdo externo na visualização do componente ou na visualização em que uma diretiva está.
    ngAfterContentChecked():Responda após Angular verificar o conteúdo projetado na diretiva ou componente.
    ngAfterViewInit():Responda após Angular inicializar as exibições do componente e as exibições filhas ou a exibição que contém a diretiva.
    ngAfterViewChecked():Responda após Angular verificar as exibições do componente e as exibições filhas ou a exibição que contém a diretiva.
    ngOnDestroy():Limpeza pouco antes de Angular destruir a diretiva ou componente.
-->

<p> o valor inicial é: {{ valorInicial }}</p>