<!-- 
                //Projeto inicial\\
                                -->

<!-- <app-aula-one></app-aula-one>
<app-cursos></app-cursos> -->

<!-- 
                //data binding\\ 
                                -->

<!-- <app-data-binding></app-data-binding> -->


<!-- 
                //ciclo de vida de um componente\\
            -->

<!-- 
<app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo "></app-ciclo>
<button (click)="mudarValor()">mudar valor</button>
<button (click)="tchau()">tchau</button> -->

<!-- 
                //diretivas\\  
                            -->

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ng-switch></app-diretiva-ng-switch> -->
<!-- <app-diretiva-ng-for></app-diretiva-ng-for> -->
<!-- <app-diretiva-ng-class></app-diretiva-ng-class> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-ng-content>
    <div class="titulo">titulo do painel</div>
    <app-operador-elvis class="corpo"></app-operador-elvis>
    <div class="corpo">Restante do conteudo</div>
</app-ng-content> -->
<!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->

<!-- 
                Serviços
                        -->


<!-- <app-criar-curso></app-criar-curso>
<app-receber-curso></app-receber-curso>
<app-cursos1></app-cursos1> -->

<!-- 
                Pipes
                        -->
<!-- <app-exemplos-pipes></app-exemplos-pipes> -->

<!-- 
                Rotas 
                        -->
<app-header></app-header>
<div class="container">
    <!-- <p>entre com o id</p>
    <input type="text" #idCurso> -->

    <router-outlet></router-outlet>
</div>